/* Add mobile styles for the component here.  */
.player-buttons {
  justify-content: space-between;
  margin: 0 20;
}

.border {
  border-color: white;
  border-width: 3;
  width: 100%;
  padding: 5 0;
  border-radius: 12;
}
