<ActionBar class="action-bar">
  <Label class="action-bar-title" text="Timer"></Label>
</ActionBar>

<GridLayout rows="100,*" columns="*" class="page">
  <!-- Add your page content here -->
  <FlexboxLayout row="0" col="0" class="header-container">
    <Label text="&#xf177;" class="fa"></Label>

    <FlexboxLayout width="85%" flexDirection="row" justifyContent="center">
      <Label text="Treino" class="h1 text-center"></Label>
    </FlexboxLayout>
  </FlexboxLayout>

  <FlexboxLayout row="1" col="0" class="container">
    <FlexboxLayout>
      <Button fontSize="150" text="&#xf01d;" class="fa large"></Button>
    </FlexboxLayout>

    <FlexboxLayout class="timer-action">
      <Label fontSize="30" text="&#xf0d9;" class="fa"></Label>
      <Label marginLeft="10" marginRight="10" fontSize="60" text="3"></Label>
      <Label fontSize="30" text="&#xf0da;" class="fa"></Label>
    </FlexboxLayout>
    <FlexboxLayout class="timer-action">
      <Label fontSize="30" text="&#xf0d9;" class="fa"></Label>
      <Label marginLeft="10" marginRight="10" fontSize="60" text="3:00"></Label>
      <Label fontSize="30" text="&#xf0da;" class="fa"></Label>
    </FlexboxLayout>
    <FlexboxLayout class="timer-action">
      <Label fontSize="30" text="&#xf0d9;" class="fa"></Label>
      <Label marginLeft="10" marginRight="10" fontSize="60" text="1:00"></Label>
      <Label fontSize="30" text="&#xf0da;" class="fa"></Label>
    </FlexboxLayout>
    <!-- <FlexboxLayout >
        <Button text="&#xf28c;" class="fa"></Button>
      </FlexboxLayout>
      botao stop
    -->
  </FlexboxLayout>
</GridLayout>
