<ActionBar class="action-bar">
  <Label class="action-bar-title" text="Timer"></Label>
</ActionBar>

<GridLayout rows="100,*" columns="*" class="page" class="timer">
  <!-- Add your page content here -->
  <FlexboxLayout row="0" col="0" class="header-container">
    <Button
      *ngIf="isTraining"
      (tap)="onBack()"
      text="&#xf177;"
      class="fa btn-icon text-white"
    ></Button>

    <FlexboxLayout width="95%" flexDirection="row" justifyContent="center">
      <Label text="Duração do Treino" class="h1 text-center text-white"></Label>
    </FlexboxLayout>
  </FlexboxLayout>

  <FlexboxLayout row="1" col="0" class="container">
    <FlexboxLayout>
      <!-- play -->
      <Button
        (tap)="startTraining()"
        fontSize="150"
        text="&#xf01d;"
        class="fa large btn-icon text-white"
      ></Button>
    </FlexboxLayout>

    <ns-timer-action
      [isCountingTime]="false"
      [(counter)]="currentTraining.rounds"
    ></ns-timer-action>

    <ns-timer-action [(counter)]="currentTraining.duration"></ns-timer-action>

    <ns-timer-action [(counter)]="currentTraining.interval"></ns-timer-action>

    <!-- <FlexboxLayout >

      </FlexboxLayout>
      botao stop
    -->
  </FlexboxLayout>
</GridLayout>
