// Import the theme’s main ruleset - both index and platform specific.
@import "~nativescript-theme-core/scss/index";
@import "variables";

Label,
Button,
.h1 {
  font-family: "Roboto", "Roboto-Regular";
  //color: white;
}

.text-white {
  color: white;
}
.btn-icon {
  background-color: transparent;
  border-color: transparent;
  z-index: 0;
}
.fa {
  font-family: "FontAwesome", "Font-Awesome";
}

.fa.large {
  font-size: 150;
}
.fa.medium {
  font-size: 80;
}

.header-container {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 22;
  align-items: center;
}

.h1 {
  font-size: 30;
  line-height: 35;
}

.timer-active {
  background-color: $secondary;
}

.timer {
  background-color: $primary;
}

.container {
  flex-direction: column;
  align-items: center;
}
